@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply m-0 bg-gray-50 text-gray-900;
  }

  a {
    @apply text-inherit;
  }
}
